<!--The content below is only a placeholder and can be replaced.-->

<div style="text-align: center">
  <h1>Welcome to {{ title }}!</h1>
  <div id="map"></div>
  <br />

  <hr />
  <h4>Rest Api</h4>
  <button (click)="add_marker()">Add Marker</button>
  <button (click)="remove_marker()">Remove Marker</button>
  <button (click)="add_custom_marker()">Custom Marker</button>
  <button (click)="add_arrow_marker()">Arrow Marker</button>
  <button (click)="add_text_marker()">text Marker</button>
  <button (click)="zoom_in()">Zoom In</button>
  <button (click)="zoom_out()">Zoom Out</button>
  <button (click)="zoom_level()">Zoom level</button>
  <button (click)="moov_to_center()">Moov to center</button>
  <button (click)="info_window()">default info_window</button>

  <!-- <button (click)="route_eta()">Route Eta</button>
  <button (click)="distanceMatrix()">distanceMatrix</button>
  <button (click)="Rev_geocode()">Rev_geocode</button>
  <button (click)="nearby()">Atl_Nearby</button>
  <button (click)="auto()">Atl_Auto</button>
  <button (click)="geocode()">Atl_Geocode</button>
  <button (click)="textsearch()">Atl_Textsearch</button> -->
</div>
